#page-profile {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background: var(--color-background-primary);
}

#page-profile .container {
	display: flex;
	justify-content: center;
	padding: 0 352px;
	box-sizing: border-box;
	background: var(--color-background-primary);
}

#page-profile .container form {
	background: var(--color-title-in-primary);
	border-radius: 8px;
	border: 1px solid var(--color-line-in-white);
	margin-top: -90px;
	margin-bottom:20px;
	padding: 56px 64px;
	width: 100%;
}

#page-profile .container form legend {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: var(--color-text-complement);
}

#page-profile .container span {
	font-size: 24px;
	line-height: 34px;
	font-weight: 600;
	color: var(--color-text-title);
}

#page-profile .container form .input-block {
	margin-top: 25px;
}

#page-profile .container form .input-block input {
	height: 56px;
}
