@media (max-width: 1100px) {
	#header {
		justify-content: space-around;
	}

	.header, #header {
		padding: 2px 20px !important;
	}
}

#header {
	padding: 25px 180px;
	background: var(--color-primary);
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--color-text-in-primary);
}

.header {
	background: var(--color-primary-dark) !important;
}

@media (min-width: 1100px) {
	.header {
		padding: 2px 180px !important;
	}
}

#header .left-side,
#header .right-side {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#header .left-side img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 24px;
}

#header .left-side .goBack {
	width: auto !important;
	height: auto !important;
	border-radius: 50%;
	margin-right: 24px;
}

#header .left-side span {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 30px;
}

#header .right-side img {
	padding: 12px;
	background: var(--color-primary-dark);
	border-radius: 8px;
}

#header .right-side .logo {
	height: 60px !important;
	width: 100px !important;
	background: none;
	border: none;
}

#header-content {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--color-primary);
}

#header-content .profile-content {
	padding: 50px 0 120px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

#header-content .profile-content .profile-avatar {
	border-radius: 50%;
	width: 180px;
	margin-bottom: 30px;
}

#header-content .profile-content .upload-block {
	display: flex;
	background: var(--color-secundary);
	padding: 15px;
	border-radius: 50%;
	position: absolute;
	top: 180px;
	right: 50px;
	cursor: pointer;
}

#header-content .profile-content span {
	font-family: Archivo;
	font-weight: bold;
	font-size: 36px;
	line-height: 25px;
	text-align: center;
	color: var(--color-title-in-primary);
}

#header-content .container-content {
	display: flex;
	justify-content: center;
	margin-bottom: 70px;
}

#header-content .container-content .container-title {
	width: 600px;
}

#header-content .container-content h1 {
	font-family: Archivo;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	padding: 60px 0;
	color: var(--color-title-in-primary);
}

#header-content .container-content .container-info {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Poppins;
	font-size: 12px;
	line-height: 20px;
	color: var(--color-text-in-primary);
	width: 150px;
}

#header-content .container-content .container-info img {
	height: 45px;
	width: 45px;
	margin-right: 20px;
}
