#header {
	padding: 25px 180px;
	background: var(--color-primary);
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--color-text-in-primary);
}

.header {
	padding: 2px 180px !important;
}

#header .left-side,
#header .right-side {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#header .left-side img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 24px;
}

#header .left-side .goBack {
	width: auto !important;
	height: auto !important;
	border-radius: 50%;
	margin-right: 24px;
}

#header .left-side span {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 30px;
}

#header .right-side img {
	padding: 12px;
	background: var(--color-primary-dark);
	border-radius: 8px;
}

#header .right-side .logo {
	height: 60px !important;
	width: 100px !important;
	background: none;
	border: none;
}
