#page-choose-user {
	width: 100vw;
	height: 100vh;
	color: var(--color-text-in-primary);
	background: var(--color-primary);
	display: flex;
	align-content: center;
}

#page-choose-user .client-side {
	display: flex;
	align-items: center;
    justify-content: center;
    flex-direction: column;
	flex: 1;
}

#page-choose-user .motoboy-side {
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
}

#page-choose-user .image-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--color-background);
    border-radius: 16px;
    padding:10px;
}

#page-choose-user .client-side .image, #page-choose-user .motoboy-side .image{
    width:250px;
    height:250px;
}