#page-home {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#page-home .container {
	background: var(--color-primary);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 160px;
}

#page-home .container .banner-image {
	width:250px;
}
