#city {
	border-radius: 8px 8px 0px 0px;
	border: none;
	background: var(--color-input-background);
	color: var(--color-text-base);
	outline: none;
	padding: 15px 24px;
}

#city option{
    
    color: var(--color-text-base);
    padding: 15px 24px;
}
