#page-list {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background: var(--color-background-primary);
}

#page-list .container {
	display: flex;
	justify-content: space-between;
	padding: 0 390px;
	box-sizing: border-box;
	background: var(--color-background-primary);
	flex-direction: column;
}

#page-list .container .search-group {
	border: 1px solid var(--color-line-in-white);
	border: none;
	margin-top: -78px;
	margin-bottom: 20px;
	padding: 20px 0;
	width: 100%;
}

#page-list .container .search-group .input-group .input-block legend {
	font-family: Poppins;
	font-size: 14px;
	line-height: 24px;
	color: var(--color-text-in-primary);
	margin-bottom: 8px;
}

#page-list .container .search-group .input-group {
	display: flex;
}

#page-list .container .search-group .input-group .input-block:first-child {
	margin-right: 20px;
}

#page-list .container .search-group .input-group .input-block {
	width: 50%;
}

#page-list .container .search-group .input-group .input-block select {
	width: 100%;
	border-radius:8px;
}

